body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-ctrl-style button,
.mapboxgl-ctrl-download button {
  font-size: 2em;
  width: 40px;
  height: 40px;
}

.mapboxgl-ctrl-style button {
  display: none;
}

.mapboxgl-ctrl-style:not(:hover) button {
  border-radius: 4px;
}

.mapboxgl-ctrl-style:not(:hover) button+button {
  border: none;
}

.mapboxgl-ctrl-group button.active {
  background-color: #3277e5;
  text-shadow: 0 0 5px white;
}

.mapboxgl-ctrl-group:hover button.active {
  background-color: #4287f5;
}

.mapboxgl-ctrl-style:not(:hover) button {
  background-color: white;
}

.mapboxgl-ctrl-style:hover button,
.mapboxgl-ctrl-style button.active {
  display: block;
}

.mapboxgl-ctrl-style:hover button.active {
  background-color: #4287f5;
  text-shadow: 0 0 10px white, 0 0 3px white, 0 0 3px white;
  color: white;
}

.mapboxgl-ctrl-style:hover button.active:not(:disabled):hover {
  background-color: #3277e5;
}

